basePath: /v0
consumes:
    - application/json
definitions:
    Person:
        properties:
            avatarUrlStr:
                type: object
            id:
                type: string
            prename:
                type: string
            surname:
                type: string
        required:
            - id
            - prename
            - surname
        type: object
info:
    title: TSOA
    version: 1.0.0
    description: 'Build swagger-compliant REST APIs using TypeScript and Node'
    license:
        name: MIT
paths:
    '/persons/{id}':
        get:
            operationId: GetPersonSync
            produces:
                - application/json
            responses:
                '200':
                    description: Ok
                    schema:
                        $ref: '#/definitions/Person'
            security: []
            parameters:
                -
                    in: path
                    name: id
                    required: true
                    type: string
    /persons:
        get:
            operationId: GetPersonsSync
            produces:
                - application/json
            responses:
                '200':
                    description: Ok
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Person'
            security: []
            parameters: []
produces:
    - application/json
swagger: '2.0'
securityDefinitions: {}
host: 'localhost:8080'
