@import "../../partials/_titleHeaders";


.title-header {
	@extend .title-header-default;
	margin-bottom: 24px;
	padding: 24px;
}

.content {
	margin: 24px 0px;
}

.content i.glyphicon-user {
	font-size: 128px;
}
