@import "./_bootstrapColors";


@mixin title-header($from-color, $to-color) {
	background-image: linear-gradient(to bottom, $from-color, $to-color);
	color: rgba(255, 255, 255, .9);
	padding: 12px;
}

.title-header-default {
	@include title-header(#0000CC, $btn-info_bg-clr);
}

.title-header-negative {
	@include title-header(#CC0000, $btn-danger_bg-clr);
}

.title-header-positive {
	@include title-header(#00AA00, $btn-success_bg-clr);
}
